.container-fluid{
    width: 20%;
    text-align: center;
    margin: 0 auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
    margin-top: 0;
}
.container {
    margin: 0 auto;
    padding: 20px;
}

.contacto {
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
}

.contacto h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contacto p {
  font-size: 18px;
  margin-bottom: 30px;
}

.contacto ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto li {
  font-size: 20px;
  margin-bottom: 10px;
}

.contacto li i {
  margin-right: 10px;
}


footer {
    padding: 20px;
  }

  .boton-facebook {
    background-color: #3b5998;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .boton-twitter {
    background-color: #1da1f2;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .boton-instagram {
    background-color: #e1306c;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
 
.contenedor-botones {
    display: flex;
    justify-content: center;
}

  .botones-sociales a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    font-size: 20px;
  }
  
  .botones-sociales a:hover {
    transform: rotate(360deg);
  }


  .copyright {
    float: right;
    font-size: 14px;
    color: #666;
  }