{% extends 'artes/base.html' %} 
{% load static %} 
{% block title %} Mision {%endblock %} 

{% block content %}
  <link rel="stylesheet" href="{% static 'artes/css/galeria.css'%}">
  <header>
    <h1>Expositor</h1>
    <p>Grupo Cero - Cooperativa de artistas plásticos</p>
  </header>
  <div class="container">
    <div class="gallery">
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria1.jpg'%}">
        <div class="description">Trabajando con tempera 1 <br> Autor: Camila Mendoza <br> Fecha: 06/10/2022 <br>
          Ubicación: Espacio Matta
        </div>
      </div>
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria2.jpg'%}">
        <div class="description">Trabajando con tempera 2 <br> Autor: Camila Mendoza <br> Fecha: 06/10/2022 <br>
          Ubicación: Espacio Matta
        </div>
      </div>
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria3.jpg'%}">
        <div class="description">Trabajando con greda 1 <br> Autor: Natalia Castro <br> Fecha: 11/02/2023 <br>
          Ubicación: Pomaire
        </div>
      </div>
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria4.jpg'%}">
        <div class="description">Manualidades <br> Autor: Carlos Ramos <br> Fecha: 05/03/2022 <br> Ubicación: Centro
          Cultural La Moneda </div>
      </div>
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria5.jpg'%}">
        <div class="description">Trabajando con greda 2 <br> Autor: Rafael Moreno <br> Fecha: 11/02/2023 <br> Ubicación:
          Pomaire </div>
      </div>
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria6.jpg'%}">
        <div class="description">Trabajando con greda 3 <br> Autor: Luis Ortiz <br> Fecha: 11/02/2023 <br> Ubicación:
          Pomaire </div>
      </div>
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria7.jpg'%}">
        <div class="description">Pintura 1 <br> Autor: Sofía González <br> Fecha: 09/12/2022 <br> Ubicación: Casa de la
          Cultura de Ñuñoa </div>
      </div>
      <div class="image">
        <img class="expositor" loading="lazy" src="{% static 'artes/imagenes/galeria8.jpg'%}">
        <div class="description">Pintura 2 <br> Autor: Sofía González <br> Fecha: 09/12/2022 <br> Ubicación: Casa de la
          Cultura de Ñuñoa </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/dd93a639fd.js" crossorigin="anonymous"></script>
{% endblock %}
