{% extends 'artes/base.html' %} 
{% load static %} 
{% block title %} Productos {%endblock %} 

{% block content %}
  <link rel="stylesheet" href="{% static 'artes/css/productos.css'%}" />
  <header>
    <h1>Productos</h1>
    <p>Grupo Cero - Cooperativa de artistas plásticos</p>
  </header>

  <br>

  <div class="row">
    <div class="col-9">
      <div class="row" style="margin-left: 20px">
        {% for producto in productos %}
          <div class="col-md-3 col-sm-12 col-lg-4">
            <div class="card" style="width: 100%">
              <img src="{{ producto.imagen.url }}" alt="Imagen del Producto"> <br>
              <div class="card-body">
                <h5 class="card-title"> <strong>{{producto.nombre}}</strong></h5>
                <p class="card-text"> <strong>Técnica:</strong> {{producto.tecnica}}</p>
                <p class="card-text"> <strong>Tamaño:</strong> {{producto.size}}</p>
                <p class="card-text"> <strong>${{producto.precio}} CLP</strong></p>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-success">Añadir al carrito</a>
              </div>
            </div>
          </div>         
        {% endfor %}
      </div>
    </div>

    <div class="col-3">

    </div>
  </div>

  <br>

{% endblock %}
